.breadcrumb{
    padding: 12px 20px;
    margin: 0;
    background-color: #818181;
    color: white;
    list-style-type: none;
    display: flex;
    li{
        padding-right: 10px;
        &::after{
            content: '/';
            padding-left: 10px;
        }
        &:last-child{
            &::after{
                display: none;
            }
        }
    }
}