.footer{
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    .mat-tab-nav-bar{
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        border-bottom: 0;
        ::ng-deep{
            .mat-tab-list{
                .mat-tab-links{
                    .mat-tab-link{
                        min-width: 100px !important;
                        position: relative;
                        justify-content: flex-start;
                        &.data-changed {
                            color: red;
                        }
                        .icon-remove{
                            position: absolute;
                            right: 0;
                            top: 0;
                            opacity: 0.1;
                            cursor: pointer;
                            transition: opacity 0.2s ease;
                            font-size: 18px;
                            height: 18px;
                            width: 18px;
                            padding: 3px;
                        }
                        &:hover{
                            .icon-remove{
                                opacity: 1;
                            }
                        }
                    }
                }
                .mat-ink-bar{
                    top: 0;
                    bottom: auto;
                }
            }
        }
        
    }
}
