<div class="footer">
    <nav mat-tab-nav-bar cdkDropListOrientation="horizontal" cdkDropList (cdkDropListDropped)="drop($event)">
        <div cdkDrag *ngFor="let tab of tabs; let i = index;">
            <a mat-tab-link [routerLink]="tab.routerLink" [queryParams]="tab.routerParams" routerLinkActive
                #rla="routerLinkActive" [routerLinkActiveOptions]="{exact:true}" [active]="rla.isActive">
                {{tab.tabName}} <mat-icon class="icon-remove"
                    (click)="remove(tab, i, rla.isActive); $event.preventDefault();">close </mat-icon>
            </a>
        </div>
    </nav>
</div>