.footer{
    position: fixed;
    bottom: 0;
}
.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-width: 60px;
  min-height: 30px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}